.main {
  width: 100vw;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_section {
  width: 100%;
  height: calc(100vh - 10vh);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hero_section__left_container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.hero_section__left_container__text {
  padding: 1rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5rem;
  /* border: 1px solid var(--secondary-color); */
}

.hero_section__right_container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.avatar_container {
  width: 5rem;
  height: 5rem;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  width: fit-content;
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: "Bricolage Grotesque", sans-serif;
  transition: all 0.3s ease-in-out;
}

.logo_container {
  height: 100%;
}

.logo {
  height: 100%;
}

.heading {
  font-family: "Anton", sans-serif;
  color: var(--primary-color);
  font-size: 3.5rem;
}

.sub_heading {
  font-family: "Bricolage Grotesque", sans-serif;
  color: var(--secondary-color);
  font-size: 2rem;
}

.about_summary {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.highlighted_text {
  font-family: "Bricolage Grotesque", sans-serif;
  color: var(--secondary-color);
}

@keyframes wave {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 10;
  }
}

/* .wave {
  stroke-dasharray: 10;
  animation: wave 4s linear infinite;
} */

@keyframes wave {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

/* .wave {
  position: relative;
  animation: wave 3s linear infinite;
  color: var(--primary-color);
} */
.w--open .wave {
  animation: wave 0.5s linear reverse infinite;
}

.experience_section {
  width: 100vw;
  border: 1px solid var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  overflow: hidden;
}

.experience_card_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 2px solid var(--secondary-color); */
  padding: 1rem;
  border-radius: 8px;

  box-shadow: -2px 2px 4px 0px rgba(249, 44, 133, 0.95);
}

.section_heading {
  font-family: "Bricolage Grotesque", sans-serif;
  color: var(--primary-color);
  font-size: 3rem;
}

.project_section {
  width: 90vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.project_card_container {
  width: 50%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
